
.navbar {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 3%;
    flex-wrap: nowrap;
}

.navMenus {
  text-decoration: none;
  color: white;
  padding: 0 30px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
}

.callToAction {
  width: 172px;
  height: 47px;

  background-color: #111111;
  color: white;
  border: 2px solid white;

  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}


