.footerWrapper {
  height: 367px;
  background: #171717;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 3%;
  flex-wrap: nowrap;
}

.navMenus {
  text-decoration: none;
  color: white;
  padding: 0 30px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
}

.callToAction {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 187px;
  height: 30px;
}

.callToAction img {
  margin: 1%;
}

.footerEnd{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 7%;
  gap:20px;
}
